<section class="py-2">
   <div class="row">
      <div class="col-md-6 text-center">
         <h1 class="display-3 mt-3 pt-5">Web Development Ebook</h1>
         <p>Learn web development front to back</p>
         <script async src="https://js.stripe.com/v3/buy-button.js">
         </script>

         <stripe-buy-button
            buy-button-id="buy_btn_1NG5TEH1SAIsByZfkp5zAYER"
            publishable-key="pk_test_51NFtNFH1SAIsByZfB7fB89UrooYb6Y1S3KCpfcVInLr0Qep0XCPPyTNbJfyeUMfmwOqHPgUAVvYrt1hnSmvYjg4L00CcQEvCSy"
         >
         </stripe-buy-button>
      </div>
      <div class="col-md-6">
         <img src="/img/book.png" alt="" class="img-fluid" />
      </div>
   </div>
</section>